<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1,user-scalable=no" />
  <title>深圳市安全防范行业协会</title>
  <!-- <base href="http://www.szspia.org" /> -->
  <link rel="stylesheet" href="/index.css" />
  <link rel="shortcut icon"  href="http://www.szspia.org/Public/logo.png" /> 
</head>
<body oncontextmenu="window.event.returnValue=false">
    <!-- oncontextmenu="window.event.returnValue=false" -->
  <div style="position: relative;">
      <div id="root" ></div>
      <div id="wangjian" style="text-align: center; background: #e5e5e5; padding-bottom: 16px;">
        <script id="ebsgovicon" src="http://szcert.ebs.org.cn/govicon.js?id=6a5928dd-25b8-4548-a546-1a5ae36eefe8&width=45&height=55&type=1" type="text/javascript" charset="utf-8"></script> 
      </div>
  </div>  
    
</body>
</html>
